<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gallery">
	<sql id="galleryColumn">num, writer, caption, imagePath, to_char(regdate, 'yyyy/mm/dd am hh:mi') as regdate</sql>
	
	<insert id="insert" parameterType="galleryDto">
		INSERT INTO board_gallery(num, writer, caption, imagePath, regdate)
		                   VALUES(board_gallery_seq.NEXTVAL, #{writer}, #{caption}, #{imagePath}, SYSDATE)
	</insert>
	
	<update id="update" parameterType="galleryDto">
		UPDATE board_gallery
		   SET writer = #{writer}
		     , caption = #{caption}
		     , imagePath = #{imagePath}
		 WHERE num = #{num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_gallery
		 WHERE num = #{num}
	</delete>
	
	<select id="getData" parameterType="int" resultType="galleryDto">
		SELECT <include refid="galleryColumn" />
		  FROM board_gallery
		 WHERE num = #{num}
	</select>
	
	<select id="getList" resultType="galleryDto">
		SELECT <include refid="galleryColumn" />
		  FROM board_gallery
	</select>
</mapper>